doctype html
html
  head
    meta(charset="UTF-8")
    title='TO DO'
    link(href="css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
  body
    div(ng-app="ToDoApp")
      div(class="navbar navbar-default")
        div.container-fluid
          div.navbar-brand Tasks keeps
      div(class="container", id="content")
        div(ui-view)

    script(src="js/libs/angular.min.js")
    script(src="js/libs/angular-ui-router.min.js")
    script(src="js/libs/angular-resource.min.js")
    script(src="js/libs/ui-bootstrap.min.js")
    script(src="js/app/app.js")

