div.row
  diw.col-md-6.col-md-offset-3
    div.alert.alert-danger(ng-init="isMsgHide=true",ng-hide="isMsgHide") {{allertMsg}}
div.row
  div.col-md-4.col-md-offset-4
    div.panel.panel-primary.login-form
      div.panel-heading Sign In:
      form#login-form.panel-body(ng-submit="signIn()")
        div.form-group
          label(for="login") Login:
          input#login.form-control(type="text", ng-model="login", required)
        div.form-group
          label(for="password") Password:
          input#login.form-control(type="password", ng-model="password", required)
        div.form-group
          input.btn.btn-success(type="submit", value="SIGN IN")
          input.btn.btn-success.pull-right(type="submit", value="SIGN UP")
